.completeTaskCardForProjectButton {

    /* color: #2a2f36 ;
    background-color: #fdc98b; */
    float: left;
}

.myTasksContainer {
    margin-left: 20%;
    margin-top: 2%;
   
}

.allTasksContainer {
    margin-left: 20%;
    margin-top: 2%;
}

.taskCreationFormContainer {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 2%;
}

.taskCard:hover {
   
    transform: translateY(0) scale(1.02);
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.74); 
}

.taskCard {
    /* cursor: pointer; */
    margin-top: 1%;
    margin-left: 3px;
    width: 600px;
}

.taskForProjectCard:hover {
   
    transform: translateY(0) scale(1.02);
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.74); 
}


.taskForProjectCard {
    cursor: pointer;
    margin-right: 1%;
    margin-top: 1%;
    width: 300px;
}

.taskForProjectCardListContainer {
    display: flex;
    flex-wrap: wrap;
}
.taskCardListContainer {
    display: flex;
    flex-wrap: wrap;
}

.taskForProjectCardHeader {
    background-color: #2a2f36 ;
    color: white;
    font-size: 20px;
}

.createTaskButton {
    float: left;
}

.taskCardHeader {
    background-color: #2a2f36 ;
    color: white;
    font-size: 20px;
}

.taskEditFormContainer {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 2%;
}

.taskCardEditButton {
    background-color: #2a2f36;
}

.taskCardDetailsButton {
    background-color: #2a2f36;
}

.taskCardHeader {
    cursor: pointer;
}

.taskDetailsContainer {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 2%;
}