.projectCard {
   
    margin-top: 1%;
    margin-left: 3px;
    width: 500px;
}

.projectCardListContainer {
    display: flex;
    flex-wrap: wrap;
}

.projectCardHeader {
    background-color: #2a2f36 ;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.projectCard:hover {
   
    transform: translateY(0) scale(1.02);
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.74); 
}

.addNoteForProjectIcon {
    font-size: 20px;
}

.addTaskForProjectIcon {
    font-size: 20px;
}

.addTaskForProjectButton {
    float: left;
}

.filterTaskDropdownForProjectToggle {
   font-weight: bold;
}

.addUserForProjectIcon {
    font-size: 20px;
}

.addUserForProjectButton {
    margin-bottom: 1%;
}

.myProjectsContainer {
    margin-left: 20%;
    margin-top: 2%;
    
}

.allProjectsContainer {
    margin-left: 20%;
    margin-top: 2%;
}

.projectDetailsContainer {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 2%;
}

.projectCreationFormContainer {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 2%;
}

.projectProgressBar {
    color: #fdc98b;
}

.projectDetailsCard {
    background-color: #2a2f36;
}

.projectCategoryPillBadge {
    background-color: #2a2f36;
}

.projectCardEditButton {
    background-color: #2a2f36;
}

.projectCardDetailsButton {
    background-color: #2a2f36;
}

.projectEditFormContainer {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 2%;
}
