.userProjectsContainer {
    margin-left: 20%;
    margin-top: 2%;
}

.userProjectForProjectCardHeader {
    background-color: #2a2f36 ;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.userProjectForProjectCard {
    width: 200px;
    margin-left: 3px;
}

.userProjectForProjectCard:hover {
   
    transform: translateY(0) scale(1.02);
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.74); 
}

.userProjectCardForProjectListContainer {
    display: flex;
    flex-wrap: wrap;
}